@font-face {
    font-family: 'Nissan Brand';
    src: url('NissanBrand-Regular.woff2') format('woff2'),
        url('NissanBrand-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

